# Voyara Frontend Environment Variables
# In local development: http://localhost:8000/api
# In production (Vercel): https://voyara-9t9s.onrender.com/api
VITE_API_BASE_URL=http://localhost:8000/api
VITE_GOOGLE_CLIENT_ID=616701780551-tkit9i6ig58m3fc2tt1trd1bgr6a4ak8.apps.googleusercontent.com
