# Python
__pycache__/
*.py[cod]
*$py.class
*.db
.pytest_cache/

# Environment and Secrets
.env
.env.*
*.env
!.env.example

# Node
node_modules/
dist/
dist-ssr/
*.local

# Uploads and temporary files
/backend/uploads/*
!/backend/uploads/.gitkeep
/backend/secure_documents/*
!/backend/secure_documents/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
